:root {
  --footer-nav-w: 366px;
  --footer-logo-mr: 145px;
  --footer-navlist-cg: 153px;
  --footer-section-p: 75px 0 52px;
  --footer-social-list-pb: 16px;
  --footer-nav-fs: 22px;
  --footer-nav-lh: 50px;
  
  --footer-copy-mt: 50px;
  --footer-copy-fs: 22px;
  --footer-copy-lh: 22px;
}

@media only screen and (max-width: 1024px) {
  :root {
    --footer-nav-w: 297px;
    --footer-logo-mr: 45px;
    --footer-navlist-cg: 122px;
    --footer-section-p: 56px 0 50px;
    --footer-social-list-pb: 10px;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --footer-nav-w: 393px;
    --footer-logo-mr: 101px;
    --footer-navlist-cg: 133px;
    --footer-section-p: 40px 0 50px;
    --footer-social-list-pb: 0px;
    --footer-nav-fs: 18px;
    --footer-nav-lh: 43px;
    --footer-copy-mt: 39px;
    --footer-copy-fs: 22px;
    --footer-copy-lh: 22px;
  }
}

.footer-section {
  padding: var(--footer-section-p);
}

.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__logo {
    align-self: flex-start;
    margin-right: var(--footer-logo-mr);
  }

  &__social {
    align-self: flex-end;
    margin-left: auto;
  }
}

.footer__nav {
  .nav__list {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    column-gap: var(--footer-navlist-cg);
    width: var(--footer-nav-w);
    height: 150px;
  }

  .nav__item {
    line-height:0;
}

  .nav__link {
    font-size: var(--footer-nav-fs);
    line-height: var(--footer-nav-lh);
    letter-spacing: 2px;
  }
}

.social {
  &__list {
    display: flex;
    padding-bottom: var(--footer-social-list-pb);
    list-style-type: none;
  }

  &__item + &__item {
    margin-left: 24px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 10px;
  }

  &__item:hover {
    filter: invert(55%) sepia(8%) saturate(1451%) hue-rotate(356deg) brightness(96%) contrast(81%);
    cursor: pointer;
    transition: $link-transition;
  }

  &__link {
    display: block;
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .youtube-link {
    background-image: url('../svg/youtube.svg');
  }

  .instagram-link {
    background-image: url('../svg/instagram.svg');
  }

  .facebook-link {
    background-image: url('../svg/facebook.svg');
  }

  .twitter-link {
    background-image: url('../svg/twitter.svg');
  }

  .pinterest-link {
    background-image: url('../svg/pinterest.svg');
  }

  @media only screen and (max-width: 768px) {
    margin-top: 30px;
    margin-right: 94px;
  }
}

.footer-copyright-wrapper {
  margin-top: 40px;
  border-top: 3px solid #666666;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: var(--footer-copy-mt);
  font-family: $font-base;
  font-weight: 200;
  font-size: var(--footer-copy-fs);
  line-height: var(--footer-copy-lh);
  letter-spacing: 2px;
  color: #ffffff;

  .school {
    margin-left: 75px;
  }

  a {
    text-decoration: none;
    color: #ffffff;

    &:hover {
      color: $text-gold;
      transition: $quick-transition;
    }
  }
}
