:root {
  --footer-nav-w: 366px;
  --footer-logo-mr: 145px;
  --footer-navlist-cg: 153px;
}

@media only screen and (max-width: 1024px) {
  :root {
    --footer-nav-w: 297px;
    --footer-logo-mr: 45px;
    --footer-navlist-cg: 122px;
  }
}

.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__logo {
    align-self: flex-start;
    margin-right: var(--footer-logo-mr);
  }

  &__social {
    align-self: flex-end;
    margin-left: auto;
  }
}

.footer__nav {
  .nav__list {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    column-gap: var(--footer-navlist-cg);
    width: var(--footer-nav-w);
    height: 150px;
  }

  .nav__item {
    font-family: $font-base;
    font-weight: 200;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
  }
}

.social {
  &__list {
    display: flex;
    padding-bottom: 14px;
    list-style-type: none;
  }

  &__item + &__item {
    margin-left: 24px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 10px;
  }

  &__item:hover {
    filter: invert(55%) sepia(8%) saturate(1451%) hue-rotate(356deg)
      brightness(96%) contrast(81%);
    cursor: pointer;
    transition: $link-transition;
  }

  &__link {
    display: block;
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .youtube-link {
    background-image: url('../svg/youtube.svg');
  }

  .instagram-link {
    background-image: url('../svg/instagram.svg');
  }

  .facebook-link {
    background-image: url('../svg/facebook.svg');
  }

  .twitter-link {
    background-image: url('../svg/twitter.svg');
  }

  .pinterest-link {
    background-image: url('../svg/pinterest.svg');
  }
}

.footer-copyright-wrapper {
  margin-top: 40px;
  border-top: 3px solid #666666;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  font-family: $font-base;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #ffffff;

  .school {
    margin-left: 75px;
  }

  a {
    text-decoration: none;
    color: #ffffff;

    &:hover {
      color: $text-gold;
      transition: $quick-transition;
    }
  }
}
