$nav-font-size: 22px;

@mixin header-padding() {
  padding: 75px 0;

  @media only screen and (max-width: 1024px) {
    padding: 40px 0;
  }
}

.header {
  @include header-padding;

  &-container {
    @include flex-center;
  }

  .nav__open {
    display: none;
    width: 32px;
    height: 18px;
    border: none;
    outline: none;
    background-image: url('../svg/burger.svg');
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;

    &.opened {
      width: 24px;
      height: 24px;
      background-image: url('../svg/burger-close.svg');
    }

    @media only screen and (max-width: 1024px) {
      display: block;
    }
  }
}

.header__nav {
  .nav__list {
    @include flex-center;
    min-width: 770px;
    height: 50px;
  }

  .nav__item:last-child {
    padding-right: 0;
  }

  .nav__item:first-child {
    padding-left: 0;
  }

  &.opened {
    left: 0;
  }

  @media screen and (max-width: 1024px) {
    position: absolute;
    top: 130px;
    left: -100%;
    bottom: 0;
    z-index: 100;
    padding-left: 90px;
    background-color: $bg-dark;
    transition: .5s $quick-transition;

    .nav__list {
      flex-direction: column;
      align-items: flex-start;
      min-width: 440px;
      height: auto;
      padding-top: 10px;
    }

    .nav__item {
      margin-bottom: 20px;
      font-weight: 300;
      font-size: 20px;
      line-height: 40px;
      letter-spacing: 2px;
    }
  }
}
