$nav-font-size: 22px;
$nav-transition: .2s ease;

@mixin header-padding() {
  padding: 75px 0;

  @media only screen and (max-width: 1024px) {
    padding: 40px 0;
  }
}

.header {
  @include header-padding;

  &-container {
    @include flex-center;
  }

  .nav__open {
    display: none;
    width: 32px;
    height: 18px;
    border: none;
    outline: none;
    z-index: 100;
    background-image: url('../svg/burger.svg');
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: $nav-transition;

    &.opened {
      width: 24px;
      height: 24px;
      background-image: url('../svg/burger-close.svg');
    }

    @media only screen and (max-width: 1024px) {
      display: block;
    }
  }
}

.header__nav {
  .nav__list {
    @include flex-center;
    min-width: 770px;
    height: 50px;
  }

  .nav__item:last-child {
    padding-right: 0;
  }

  .nav__item:first-child {
    padding-left: 0;
  }

  .nav__logo {
    display: none;
  }

  &.opened {
    left: 0;
  }

  @media screen and (max-width: 1024px) {
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    z-index: 100;
    padding-top: 40px;
    background-color: $bg-dark;
    transition: $nav-transition;

    .nav__list {
      flex-direction: column;
      align-items: flex-start;
      min-width: 440px;
      height: auto;
      padding-top: 50px;
      padding-left: 90px;
    }

    .nav__item {
      margin-bottom: 20px;
      font-weight: 300;
      font-size: 20px;
      line-height: 40px;
      letter-spacing: 2px;
    }

    .nav__logo {
      display: flex;
      margin-left: 20px;

      .logo {
        width: 100%;
      }
      
    }
  }
}

.nav-overlay {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow: hidden;
  background: rgba(196, 196, 196, 0.2);
  transition: $nav-transition;

  &.opened {
    z-index: 99;
    opacity: 1;
  }
}
