:root {
  --parallax-h: 400px;
}

@media screen and (max-width: 768px) {
  :root {
    --parallax-h: 300px;
  }
}

.parallax {
  width: 100%;
  height: var(--parallax-h);
  background: no-repeat center fixed;
  background-size: cover;

  .no-webp & {
    background-image: url('../img/parallax.jpg');
  }

  .webp & {
    background-image: url('../img/parallax.webp');
  }
}
