:root {
  --contacts-pt: 103px;
  --contacts-subtitle-mb: 55px;
  --contacts-subtitle-fs: 28px;
  --contacts-subtitle-lh: 32.8px;
  --contacts-info-mt: 25px;
  --contacts-info-fs: 22px;
  --contacts-info-lh: 25.78px;
}

@media screen and (max-width: 1024px) {
  :root {
    --contacts-pt: 83px;
    --contacts-subtitle-mb: 35px;
    --contacts-subtitle-fs: 24px;
    --contacts-subtitle-lh: 28px;
    --contacts-info-mt: 15px;
    --contacts-info-fs: 20px;
    --contacts-info-lh: 23px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --contacts-pt: 63px;
    --contacts-subtitle-mb: 40px;
    --contacts-subtitle-fs: 20px;
    --contacts-subtitle-lh: 23px;
    --contacts-info-mt: 15px;
    --contacts-info-fs: 18px;
    --contacts-info-lh: 21px;
  }
}

@media screen and (max-width: 420px) {
  :root {
    --contacts-subtitle-fs: 16px;
    --contacts-subtitle-lh: 19px;
    --contacts-info-fs: 16px;
    --contacts-info-lh: 19px;
  }
}

.section-contacts {
  @media screen and (max-width: 1024px) {padding-bottom: 64px;}
  @media screen and (max-width: 768px) {padding-bottom: 39px;}
}

.contacts {
  display: flex;
  justify-content: space-between;
  padding-top: var(--contacts-pt);

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  &__map {
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // width: 100%;
    max-width: 960px;
    height: 620px;

    img {
      width: 100%;
      height: 100%;
      background-size: contain;
    }

    @media (max-width: 1024px) {
      width: calc(100vw - 330px);
      height: calc(65vw - 212px);
    }

    @media screen and (max-width: 768px) {
      margin-top: 40px;
      min-width: 100%;
      height: 476px;
    }

    @media screen and (max-width: 420px) {
      height: 248px;
    }
  }

  @media (max-width: 1024px) {
    .mapboxgl-ctrl-bottom-right {
      display: none;
    }
    .mapboxgl-ctrl-bottom-left {
      display: none;
    }
  }

  @media (max-width: 420px) {
    .mapboxgl-ctrl-bottom-left {
      display: block;
    }
  }

  &__subtitle {
    margin-bottom: var(--contacts-subtitle-mb);
    font-family: $font-base;
    font-weight: 500;
    font-size: var(--contacts-subtitle-fs);
    line-height: var(--contacts-subtitle-lh);
  }

  &__info {
    font-family: $font-base;
    font-weight: 300;
    font-size: var(--contacts-info-fs);
    line-height: var(--contacts-info-lh);
  }

  &__info + &__info {
    margin-top: var(--contacts-info-mt);
  }

  a {
    text-decoration: none;
    color: $bg-dark;
  }

  @media screen and (max-width: 768px) {
    padding-bottom: 27px;
  }

  @media screen and (max-width: 420px) {
    padding-bottom: 0;
  }
}
