:root {
  --slider-width: 720px;
  --slider-height: 701px;
  --explore-fd: row;
  --explore-text-mw: 660px;
  --explore-desc-pt: 25px;
  --explore-desc-fot-pt: 107px;
  --explore-desc-br-d: block;
  --explore-desc-fs: 22px;
  --explore-img-pt: 15px;
}

@media screen and (max-width: 1024px) {
  :root {
    --slider-height: 700px;
    --explore-fd: column;
    --explore-text-mw: 100%;
    --explore-desc-pt: 0;
    --explore-desc-fot-pt: 85px;
    --explore-desc-br-d: none;
    --explore-desc-fs: 16px;
    --explore-img-pt: 55px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --slider-width: calc(100vw - 44px);
    --slider-height: calc(100vw - 66px);
    --explore-img-pt: 66px;
  }
}

@media screen and (max-width: 420px) {
  :root {
    --slider-width: 380px;
    --slider-height: calc(100vw - 53px);
    --explore-img-pt: 62px;
  }
}

.explore {
  display: flex;
  flex-direction: var(--explore-fd);
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 60px;

  &__text {
    flex: 1 1 var(--explore-text-mw);
  }

  &__img {
    flex: 1 1 var(--slider-width);
    padding-top: var(--explore-img-pt);
    width: 100%;
    // overflow: hidden;
  }
}

.explore-desc {
  padding-top: var(--explore-desc-pt);
  font-family: $font-base;
  font-weight: 300;
  font-size: var(--explore-desc-fs);
  line-height: 38px;
  color: $text-light;

  &__accent {
    color: $text-gold;
  }

  br {
    display: var(--explore-desc-br-d);
  }

  &:first-of-type {
    padding-top: var(--explore-desc-fot-pt);
  }

  &:last-of-type {
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.explore-img {
  position: relative;
  height: var(--slider-height);
  max-width: var(--slider-width);
  // min-width: 380px;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    margin: 0 auto;
  }

  &__img {
    position: absolute;
    width: 100%;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
  }

  .img-before,
  .img-after {
    width: var(--slider-width);
    height: var(--slider-height);
    object-fit: cover;

    @media screen and (max-width: 420px) {
      width: calc(100vw - 40px);
    }
  }

  &-slider {
    position: absolute;
    z-index: 9;
    width: 40px;
    height: 100%;
    background: url('../img/explore/explore-slider.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: ew-resize;
  }
}
