:root {
  --slider-width: 720px;
  --slider-height: 701px;
  --explore-fd: row;
  --explore-text-mw: 660px;
  --explore-desc-pt: 25px;
  --explore-desc-fot-pt: 107px;
  --explore-desc-br-d: block;
  --explore-desc-fs: 22px;
  --explore-img-pt: 15px;
}

@media screen and (max-width: 1024px) {
  :root {
    --slider-height: 700px;
    --explore-fd: column;
    --explore-text-mw: 100%;
    --explore-desc-pt: 0;
    --explore-desc-fot-pt: 85px;
    --explore-desc-br-d: none;
    --explore-desc-fs: 20px;
    --explore-img-pt: 62px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --slider-width: calc(100vw - 44px);
    --slider-height: calc(100vw - 66px);
    --explore-img-pt: 66px;
    --explore-desc-fs: 16px;
  }
}

@media screen and (max-width: 420px) {
  :root {
    --slider-width: 380px;
    --slider-height: calc(100vw - 53px);
    --explore-img-pt: 62px;
  }
}

.explore {
  display: flex;
  flex-direction: var(--explore-fd);
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 60px;

  &__text {
    flex: 1 1 var(--explore-text-mw);
  }
}

.explore-desc {
  padding-top: var(--explore-desc-pt);
  font-family: var(--font-base);
  font-weight: 300;
  font-size: var(--explore-desc-fs);
  line-height: 36px;
  color: var(--text-light);

  &__accent {
    color: var(--text-gold);
  }

  br {
    display: var(--explore-desc-br-d);
  }

  &:first-of-type {
    padding-top: var(--explore-desc-fot-pt);
  }

  &:last-of-type {
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.explore-slider {
  position: relative;
  flex: 1 1 var(--slider-width);
  margin-top: var(--explore-img-pt);
  // width: 100%;
  height: 700px;
  // width: 720px;
  overflow: hidden;
  user-select: none;

  @media screen and (max-width: 1439px) {
    margin: 0 auto;
  }

  &__resizer {
    position: absolute;
    top: 0;
    left: 59.5%;
    bottom: 0;
    width: 40px;
    height: 100%;
    cursor: pointer;
    pointer-events: none;
  }

  &__after,
  &__before {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__before {
    overflow: hidden;
    clip-path: polygon(0% 0%, 61% 0%, 61% 100%, 0% 100%);
  }

  &__range {
    position: relative;
    width: calc(100% - 40px);
    margin-right: 20px;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }
}

.no-webp .explore-slider__resizer {
  background: url('../img/explore/explore-slider.png') no-repeat;
  background-size: contain;
}

.webp .explore-slider__resizer {
  background: url('../img/explore/explore-slider.webp') no-repeat;
  background-size: contain;
}
