:root {
  --popup-w: 1440px;
  --popup-p: 30px 30px 91px;
  --popup-g: 36px 0;
  --popup-tickets-w: 400px;
  --popup-tickets-title-mb: 12px;
  --popup-payment-w: 530px;
  --popup-tickets-form-mt: 60px;
  --popup-tickets-half-w: 190px;
}

@media only screen and (max-width: 1024px) {
  :root {
    --popup-w: 100%;
    --popup-p: 30px 26px;
    --popup-g: 20px 0;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --popup-w: 590px;
    --popup-p: 30px 30px;
    --popup-g: 24.93px 0;
    --popup-tickets-w: 100%;
    --popup-payment-w: 100%;
    --popup-tickets-title-mb: 14.96px;
    --popup-tickets-form-mt: 39.89px;
    --popup-tickets-half-w: calc(50% - 14px);
  }
}

@media only screen and (max-width: 420px) {
  :root {
    --popup-tickets-half-w: 100%;
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: -100%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: var(--popup-w);
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--popup-g);
  padding: var(--popup-p);
  background-color: #fff;
  transition: var(--base-transition);
  overflow: auto;

  &.opened {
    left: 50%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 970px;

    @media only screen and (max-width: 768px) {
      gap: 50.96px 0;
    }
  }

  &-tickets {
    width: var(--popup-tickets-w);
    height: 100%;
    background-color: #fff;
  }

  &-payment {
    width: var(--popup-payment-w);
    background-color: #fff;
  }

  &__close {
    align-self: flex-end;
    display: flex;
    align-items: center;
  }

  &-close-btn {
    width: 25px;
    height: 25px;
    border: none;
    background: url('../svg/popup-close.svg') center no-repeat transparent;
    background-size: contain;
    transition: var(--quick-transition);

    &:hover {
      cursor: pointer;
      filter: var(--filter-gold);
    }
  }

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: var(--base-transition);

    &.opened {
      z-index: 99;
      opacity: 1;
    }
  }
}

.popup-tickets {
  &__title {
    margin-bottom: var(--popup-tickets-title-mb);
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    color: var(--text-gold);

    @media only screen and (max-width: 420px) {
      font-size: 32px;
      line-height: 35px;
    }
  }

  &__title-image {
    width: 85px;
    height: 40px;
    background: url('../svg/tickets-logo.svg') center 100% no-repeat;
    background-size: contain;
  }

  &__subtitle {
    padding-bottom: 10px;
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--dark-red);
    border-bottom: 3px solid var(--dark-red);

    @media screen and (max-width: 1024px) {
      padding-bottom: 11px;
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 0;
    margin-top: var(--popup-tickets-form-mt);
  }
}

.tickets-input {
  position: relative;
  height: 45px;
  border: 1px solid var(--bg-dark);

  .icon {
    position: absolute;
    top: 30%;
    left: 14px;
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
  }

  .input {
    width: 100%;
    height: 100%;
    padding-left: 43px;
    border: 0;
    outline: none;
  }

  .input:not(.has-value)::-webkit-datetime-edit {
    color: transparent;
  }

  .input:focus::-webkit-datetime-edit {
    color: black;
  }

  .input::before {
    position: absolute;
    top: 31%;
    left: 44px;
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--text-dark);
  }

  .input:focus::before {
    display: none;
  }

  .input-placeholder {
    padding-top: 5px;
  }
}

.tickets-input-selectable {
  padding-right: 10px;
  .input::-webkit-calendar-picker-indicator {
    display: block;
    width: 17px;
    height: 17px;
    opacity: 1;
    border-width: thin;
    color: rgba(0, 0, 0, 0);
    background-image: url('../svg/triangle.svg');
  }
}

.tickets-input-ordinary {
  width: 100%;

  .input::placeholder {
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--bg-dark);
  }
}

.tickets-date {
  width: var(--popup-tickets-half-w);

  .icon {
    background-image: url('../svg/date.svg');
  }

  .input:not(.has-value):before {
    content: 'Date';
  }
}

.tickets-time {
  width: var(--popup-tickets-half-w);
  .icon {
    background-image: url('../svg/time.svg');
  }

  .input:not(.has-value):before {
    content: 'Time';
  }
}

.tickets-name {
  .icon {
    background-image: url('../svg/name.svg');
  }
}

.tickets-email {
  .icon {
    background-image: url('../svg/email.svg');
  }
}

.tickets-phone {
  .icon {
    height: 23px;
    left: 13px;
    background-image: url('../svg/phone.svg');
  }
}

.tickets-select {
  position: relative;
  height: 45px;
  width: 100%;
  font-family: var(--font-base);
  font-size: 18px;
  line-height: 21px;
  color: var(--bg-dark);
  border: 1px solid var(--bg-dark);

  .icon {
    position: absolute;
    top: 30%;
    left: 15px;
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
    background-image: url('../svg/type.svg');
  }

  select {
    position: absolute;
    left: -999px;
    z-index: -999;
  }

  .select-selected {
    font-weight: 400;
    background-color: #fff;
  }

  .select-selected:after {
    position: absolute;
    top: 30%;
    right: 15px;
    content: '';
    background: url('../svg/triangle.svg') no-repeat center 100%;
    background-size: contain;
    display: inline-block;
    width: 17px;
    height: 17px;
  }

  .select-selected.select-arrow-active:after {
    transform: rotate(180deg);
  }

  .select-items div,
  .select-selected {
    height: 100%;
    padding-top: 10px;
    padding: 12px 42px;
    cursor: pointer;
  }

  .select-items {
    position: absolute;
    top: 44px;
    left: -1px;
    right: -1px;
    z-index: 99;
    background-color: #fff;
  }

  .select-items div {
    font-weight: 300;
    border-left: 1px solid var(--bg-dark);
    border-right: 1px solid var(--bg-dark);
  }
  .select-items div:last-child {
    border-bottom: 1px solid var(--bg-dark);
  }

  .select-hide {
    display: none;
  }

  .select-items div:hover,
  .same-as-selected {
    background-color: #e7e7e7;
  }
}

.tickets-entry {
  width: 100%;
  height: 135px;
  padding: 10px 15px 23px;
  border: 1px solid var(--bg-dark);

  @media only screen and (max-width: 420px) {
    height: auto;
    padding: 10px 15px 13px 15px;
  }

  &__title {
    padding-bottom: 5px;
    font-size: 18px;
    font-family: var(--font-heading);
    font-weight: 400;
    line-height: 20px;
    text-transform: capitalize;
    border-bottom: 1px solid var(--dark-red);
    color: var(--text-gold);
  }

  .entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }

  .entry + .entry {
    margin-top: 18px;
  }

  .label {
    font-size: 18px;
    font-family: var(--font-base);
    font-weight: 400;
    line-height: 21px;
    color: var(--bg-dark);
  }

  .amount {
    display: flex;
    width: 106px;
    height: 25px;
    font-family: var(--font-base);
    text-align: center;
  }

  .amount-btn {
    display: inline-block;
    width: 35px;
    height: 100%;
    font-size: 18px;
    border: none;
    outline: none;
    color: #fff;
    background-color: var(--bg-dark);
  }

  .amount-btn:hover {
    color: var(--text-gold);
    transition: var(--quick-transition);
    cursor: pointer;
  }

  .input {
    width: 35px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: 1px solid var(--bg-dark);
    color: var(--text-dark);
    background-color: transparent;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.popup-payment {
  padding: 25px 30px;
  border: 1px solid var(--bg-dark);

  @media only screen and (max-width: 768px) {
    padding: 25px 15px;
  }

  &__overview {
    display: flex;
    justify-content: space-between;
  }

  .image {
    width: 150px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: contain;

    .no-webp &   {
      background-image: url('../img/overview.jpg');
    }
  
    .webp &   {
      background-image: url('../img/overview.webp');
    }
    
    @media only screen and (max-width: 420px) {
      width: 120px;
      height: 96px;
    }
  }

  &__card {
    position: relative;
    margin-top: 13px;

    @media only screen and (max-width: 768px) {
      margin-top: 18px;
    }
  }

  .ticket {
    display: flex;
    align-items: center;
    width: 100%;

    &__count {
      width: 32px;
      height: 20px;
      margin-right: 10px;
      font-family: var(--font-base);
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      border-radius: 5px;
      text-align: center;
      color: #a4a4a3;
      background-color: var(--bg-dark);
    }

    &__type,
    &__price {
      font-family: var(--font-base);
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      color: var(--bg-dark);
    }

    &__price {
      margin-left: auto;
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
    font-size: 32px;
    font-family: var(--font-base);
    line-height: 37px;
    color: var(--bg-dark);

    @media only screen and (max-width: 768px) {
      padding-top: 12px;
    }

    @media only screen and (max-width: 420px) {
      padding-top: 11px;
    }

    &__label {
      font-weight: 400;
    }

    &__price {
      font-weight: 500;
    }
  }
}

.popup-payment__overview {
  .info__title {
    font-family: var(--font-base);
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #272727;
  }

  .info__subtitle {
    padding: 3px 0 11px;
    font-size: 22px;
    font-family: var(--font-base);
    font-weight: 500;
    line-height: 26px;
    color: var(--dark-red);
    opacity: 0.9;
  }

  .info__item {
    display: flex;
    align-items: center;
    gap: 0 15px;
  }

  .info__item + .info__item {
    margin-top: 5px;
  }

  .info__item .icon {
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
  }

  .info__item .date {
    background-image: url('../svg/date.svg');
  }

  .info__item .time {
    background-image: url('../svg/time.svg');
  }

  .info__item .check {
    background-image: url('../svg/check.svg');
  }

  .info__item .text {
    font-family: var(--font-base);
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: var(--bg-dark);
  }
}

.popup-payment__tickets {
  display: flex;
  flex-direction: column;
  gap: 6px 0;
  padding: 20px 0 11px;
  border-bottom: 1px solid var(--dark-red);

  @media only screen and (max-width: 768px) {
    padding: 23px 0 11px;
  }
}

.popup-payment__card {
  height: 240px;
  margin-bottom: 24px;

  @media only screen and (max-width: 768px) {
    margin-top: 15px;
  }

  @media only screen and (max-width: 420px) {
    margin-top: 14px;
    position: static;
    height: auto;
  }
}

.card-face {
  position: absolute;
  z-index: 2;
  width: 360px;
  height: 211px;
  padding: 15px 20px;
  border-radius: 3px;
  background-color: #bcbcbc;

  @media only screen and (max-width: 420px) {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: 22px;
    padding: 15px 20px 7px 20px;
  }

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 12px;
    font-family: var(--font-base);
    font-weight: 400;
    line-height: 14px;
    color: #161615;

    @media only screen and (max-width: 420px) {
      font-size: 11px;
      line-height: 13px;
    }

    .input {
      height: 35px;
      margin-top: 5px;
      border: 0.567px solid #a4a4a3;
    }
  }

  .field-wide {
    width: 100%;
  }

  .exp-field {
    display: flex;
    justify-content: space-between;
  }

  .fields-with-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .inputs {
      width: 215px;
    }

    .card-labels {
      margin-top: 20px;
      .visa {
        width: 55px;
        height: 16px;
        margin-bottom: 17px;
        background: url('../svg/visa.svg') center 100% no-repeat;
        background-size: contain;
      }

      .mastercard {
        width: 55px;
        height: 32px;
        background: url('../svg/mastercard.svg') center 100% no-repeat;
        background-size: contain;
      }
    }
  }
}

.card-input-number {
  position: relative;
  width: 100px;
  height: 35px;
  margin-top: 5px;
  border: 0.567px solid #a4a4a3;

  &__input {
    width: 71px;
    height: 100%;
    padding-left: 10px;
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    border: none;
    color: #161615;

    @media only screen and (max-width: 1024px) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    width: 28px;
    height: 50%;
    border: none;
    border-left: 0.567px solid #a4a4a3;
    background-repeat: no-repeat;
    background-size: 6px;
    background-color: #fff;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
      transition: var(--quick-transition);
    }
  }

  .btn-incr {
    top: 0;
    background-position: center bottom 1px;
    background-image: url('../svg/number-incr.svg');
  }

  .btn-decr {
    bottom: 0;
    background-position: center 1px;
    background-image: url('../svg/number-decr.svg');
  }
}

.card-back {
  position: absolute;
  top: 29px;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 211px;
  border-radius: 3px;
  background-color: #939393;

  @media only screen and (max-width: 420px) {
    position: static;
    width: 100%;
  }

  .stripe {
    width: 100%;
    height: 48px;
    margin-top: 26px;
    background-color: #161615;

    @media only screen and (max-width: 768px) {
      margin-top: 22px;
    }

    @media only screen and (max-width: 420px) {
      height: 45px;
      margin-top: 28px;
    }
  }

  .cvv-code {
    width: 75px;
    align-self: flex-end;
    margin: 13px 20px;
    text-align: center;
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #161615;

    @media only screen and (max-width: 420px) {
      font-size: 13px;
      line-height: 15px;
    }

    .input {
      width: 75px;
      height: 35px;
      margin-top: 5px;
      border: 0.567px solid #a4a4a3;

      @media only screen and (max-width: 420px) {
        margin-top: 8px;
      }
    }

    &__note {
      padding: 5px 5px 0 12px;
      text-align: left;
      font-family: var(--font-base);
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      color: #161615;

      @media only screen and (max-width: 1024px) {
        padding: 7px 5px 0 10px;
      }

      @media only screen and (max-width: 420px) {
        font-size: 9px;
        line-height: 11px;
        padding: 3px 9px 0 13px;
      }
    }
  }
}

.popup-payment__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 220px;
  height: 45px;
  margin-left: auto;
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  appearance: button;
  border: none;
  outline: none;
  background-color: var(--dark-red);
  color: var(--text-light);

  &:hover {
    background-color: var(--text-gold);
    transition: var(--base-transition);
    cursor: pointer;
  }

  @media only screen and (max-width: 1024px) {
    font-size: 22px;
    line-height: 26px;
  }

  @media only screen and (max-width: 420px) {
    margin-top: 42px;
    font-size: 20px;
    line-height: 23px;
  }
}
