:root {
  --section-tickets-p: 75px 0 60px 0;
  --tickets-pt: 103px;
  --tickets-g: 60px;
  --tickets-img-w: 720px;
  --tickets-img-h: 550px;
  --tickets-amount-ai: flex-end;
}

@media screen and (max-width: 1024px) {
  :root {
    --section-tickets-p: 60px 0;
    --tickets-pt: 80px;
    --tickets-g: 80px;
    --tickets-img-w: 700px;
    --tickets-img-h: 440px;
    --tickets-amount-ai: center;
  }
}

.section-tickets {
  padding: var(--section-tickets-p);
}

.tickets {
  display: flex;
  gap: 0 var(--tickets-g);
  // gap: 0 var(--tickets-g);
  padding-top: var(--tickets-pt);

  &__img {
    flex-basis: var(--tickets-img-w);
    height: var(--tickets-img-h);
  }

  &__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    flex: 1 1;
    // flex-basis: 175px;
  }

  &-subtitle {
    font-family: $font-base;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: $text-dark;
  }
}

.tickets-type {
  flex-basis: 50%;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.tickets-type-option {
  display: block;
  position: relative;
  margin-top: 25px;
  padding-left: 40px;
  font-family: $font-base;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: $text-dark;
  cursor: pointer;
  user-select: none;

  &:first-of-type {
  margin-top: 50px;
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &__checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid $text-dark;
  }

  &__checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  & &__input:checked ~ &__checkmark:after {
    display: block;
  }

  & &__checkmark:after {
    top: 2.8px;
    left: 2.9px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $text-dark;
  }
}

.tickets-amount {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: var(--tickets-amount-ai);

  & .tickets-subtitle {
    text-align: right;
  }
}

.tickets-amount-option {
  margin-top: 25px;

  &__label {
    font-family: $font-base;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: $text-dark;
  }

  &__box {
    display: flex;
    width: 150px;
    height: 50px;
    margin-top: 14px;
    font-family: $font-base;
    text-align: center;
    border: 3px solid $text-dark;
  }

  &__btn {
    width: 30px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-weight: 300;
    font-size: 32px;
    line-height: 37.5px;
    border: none;
    color: $text-dark;
    background-color: transparent;
  }

  &__btn:first-of-type {
    padding-right: 0;
    padding-left: 5px;
  }

  &__btn:last-of-type {
    padding-top: 5px;
  }

  &__btn:hover {
    color: $text-gold;
    transition: $quick-transition;
    cursor: pointer;
  }

  &__input {
    width: calc(100% - 60px);
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    border: none;
    color: $text-dark;
    background-color: transparent;
  }

  &:nth-of-type(2n) {
    margin-top: 13px;
  }
}

.total-title {
  margin-top: 50px;
  letter-spacing: 1.6px;
}

.tickets-total {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}
