:root {
  --video-text-pb: 75px;
  --video-media-h: 650px;
  --video-panel-h: 85px;
  --video-panel-p: 30px;
  --video-play-large-w: 220px;
  --video-play-large-t: 33%;
  --video-play-large-l: 42%;
  --video-play-sm-mr: 50px;
  --video-range-progress-w: 67%;
  --video-range-volume-w: 11.23%;
  --video-volume-w: 38px;
  --video-volume-h: 31px;
  --video-volume-ml: 50px;
  --video-volume-mr: 50px;
  --video-expand-w: 36px;
  --video-expand-ml: 50px;
  --video-slider-pag-pt: 40px;
  --video-slider-item-w: 452px;
  --video-slider-item-h: 254px;
  --video-slider-pt: 40px;
}

@media screen and (max-width: 1024px) {
  :root {
    --video-text-pb: 40px;
    --video-media-h: 444px;
    --video-panel-h: 60px;
    --video-panel-p: 40px;
    --video-play-large-w: 152px;
    --video-play-sm-mr: 30px;
    --video-range-progress-w: 61%;
    --video-range-volume-w: 14%;
    --video-volume-w: 26px;
    --video-volume-h: 20px;
    --video-volume-ml: 32px;
    --video-volume-mr: 31px;
    --video-expand-w: 25px;
    --video-expand-ml: 31px;
    --video-slider-pag-pt: 37px;
    --video-slider-item-w: 300px;
    --video-slider-item-h: 170px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --video-text-pb: 20px;
    --video-media-h: 329px;
    --video-panel-h: 53px;
    --video-play-large-w: 80px;
    --video-play-large-t: 38%;
    --video-play-large-l: 44%;
    --video-panel-p: 30px;
    --video-play-sm-mr: 35px;
    --video-range-progress-w: 100%;
    --video-volume-ml: 0;
    --video-range-volume-w: 76%;
    --video-slider-pt: 20px;
    --video-slider-pag-pt: 37px;
    --video-slider-item-w: 354px;
    --video-slider-item-h: 199px;
  }
}

.video {
  &__text {
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--video-text-pb);
  }

  &-desc {
    width: 720px;
    font-family: $font-base;
    font-weight: 300;
    font-size: 22px;
    line-height: 47px;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  &__media {
    max-width: 1440px;
  }

  &__media.expanded {
    width: 100%;
    height: 100%;
  }
}

.video-current-wrapper {
  position: relative;
  width: 100%;
  height: var(--video-media-h);
}

.video-current {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--video-panel-h);
  padding: 0 var(--video-panel-p);
  background-color: $text-dark;

  @media screen and (max-width: 768px) {
    position: relative;
  }
}

.video__btn {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;

  &-play-large {
    position: absolute;
    top: var(--video-play-large-t);
    left: var(--video-play-large-l);
    z-index: 2;
    width: var(--video-play-large-w);
    height: var(--video-play-large-w);
    background-image: url('../svg/video-btn-play-big.svg');
    opacity: 1;
    transition: 0.7s ease;
  }

  &-play-large.hidden {
    opacity: 0;
  }

  &-play-small {
    width: 23px;
    height: 30px;
    margin-right: var(--video-play-sm-mr);
    background-image: url('../svg/video-btn-play-small.svg');
  }

  &-play-small.paused {
    background-image: url('../svg/video-btn-pause-small.svg');
  }

  &-volume {
    width: var(--video-volume-w);
    height: var(--video-volume-h);
    margin-left: var(--video-volume-ml);
    margin-right: var(--video-volume-mr);
    background-image: url('../svg/video-btn-volume.svg');
  }

  &-volume.muted {
    background-image: url('../svg/video-btn-volume-muted.svg');
  }

  &-expand {
    width: var(--video-expand-w);
    height: var(--video-expand-w);
    margin-left: var(--video-expand-ml);
    background-image: url('../svg/video-btn-expand.svg');
  }

  &-expand.exit {
    background-image: url('../svg/video-btn-expand-exit.svg');
  }

  &:hover {
    filter: invert(67%) sepia(0%) saturate(0%) hue-rotate(3deg) brightness(90%) contrast(92%);
    cursor: pointer;
    transition: $quick-transition;
  }
}

.video__range {
  height: 8px;
  background: linear-gradient(to right, #710707 0%, #710707 45%, #c4c4c4 45%, #c4c4c4 100%);
  outline: none;
  appearance: none;

  @media screen and (max-width: 1024px) {
    height: 5px;
  }

  &-progress {
    width: var(--video-range-progress-w);
    background: linear-gradient(to right, #710707 0%, #710707 54%, #c4c4c4 54%, #c4c4c4 100%);

    @media screen and (max-width: 768px) {
      position: absolute;
      bottom: var(--video-panel-h);
      left: 0;
      right: 0;
    }
  }

  &::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    background: #ffffff;
  }

  &-volume {
    width: var(--video-range-volume-w);
  }
}

.video__media.expanded {
  .media-panel {
    height: 7%;
  }

  .video-current-wrapper {
    height: 93%;
  }

  .video__btn {
    &-play-big {
      top: 43%;
    }
  }

  .video__range {
    &-progress {
      width: 90%;
    }

    &-volume {
      width: 10%;
    }
  }
}

.video-slider-wrapper {
  padding-top: var(--video-slider-pt);
  overflow: hidden;
}

.video-slider {
  position: relative;
  left: calc(var(--video-slider-item-w) * -1);
  display: flex;
  justify-content: space-between;
  gap: 0 42px;
  width: calc(var(--video-slider-item-w) * 3);

  &.shifting {
    transition: left 0.2s ease-out;
  }

  &-item {
    position: relative;
    flex: 0 0 var(--video-slider-item-w);
    width: var(--video-slider-item-w);
    height: var(--video-slider-item-h);
    background-color: $text-gold;
    border: 0;
    transition: all 1s;

    &.shifting {
      transition: left 0.2s ease-out;
    }
  }

  &-item iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }

  &-pagination {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--video-slider-pag-pt);
  }

  &-pagination-item {
    width: 12px;
    height: 12px;
    background-size: contain;
    transition: $quick-transition;
  }

  &-pagination-item:hover {
    cursor: pointer;
    filter: invert(14%) sepia(25%) saturate(6681%) hue-rotate(342deg) brightness(60%) contrast(114%);
  }

  &-pagination-dot {
    background: url('../svg/video-slider-dot.svg') no-repeat;
  }

  &-pagination-dot.active {
    filter: invert(13%) sepia(94%) saturate(0%) hue-rotate(205deg) brightness(60%) contrast(88%);
  }

  &-pagination-arrow-prev {
    background: url('../svg/video-slider-prev.svg') no-repeat;
  }

  &-pagination-arrow-next {
    background: url('../svg/video-slider-next.svg') no-repeat;
  }
}
