:root {
  --video-text-pb: 75px;
  --video-media-h: 650px;
  --video-panel-h: 85px;
  --video-panel-p: 30px;
  --video-play-large-w: 220px;
  --video-play-large-t: 33%;
  --video-play-large-l: 42%;
  --video-play-sm-mr: 50px;
  --video-range-progress-w: 67%;
  --video-range-volume-w: 11.23%;
  --video-volume-w: 38px;
  --video-volume-h: 31px;
  --video-volume-ml: 50px;
  --video-volume-mr: 50px;
  --video-expand-w: 36px;
  --video-expand-ml: 50px;
  --video-slider-pag-pt: 40px;
  --video-slider-item-h: 254px;
  --video-slider-mt: 40px;
  --video-pag-w: 200px;
  --video-pag-item-size: 12px;
  --iframe-header-p: 13px 35px 10px 13px;
}

@media screen and (max-width: 1024px) {
  :root {
    --video-text-pb: 40px;
    --video-media-h: 444px;
    --video-panel-h: 60px;
    --video-panel-p: 40px;
    --video-play-large-w: 152px;
    --video-play-sm-mr: 30px;
    --video-range-progress-w: 61%;
    --video-range-volume-w: 14%;
    --video-volume-w: 26px;
    --video-volume-h: 20px;
    --video-volume-ml: 32px;
    --video-volume-mr: 31px;
    --video-expand-w: 25px;
    --video-expand-ml: 31px;
    --video-slider-pag-pt: 37px;
    --video-slider-item-h: 170px;
    --iframe-header-p: 4px 35px 10px 10px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --video-text-pb: 20px;
    --video-media-h: 329px;
    --video-panel-h: 57px;
    --video-play-large-w: 80px;
    --video-play-large-t: 38%;
    --video-play-large-l: 44%;
    --video-panel-p: 30px;
    --video-play-sm-mr: 30px;
    --video-range-progress-w: 100%;
    --video-volume-ml: 0;
    --video-range-volume-w: 73%;
    --video-slider-mt: 20px;
    --video-slider-pag-pt: 22px;
    --video-slider-item-h: 199px;
    --video-pag-w: 190px;
    --video-pag-item-size: 10px;
  }
}

@media screen and (max-width: 420px) {
  :root {
    // --video-text-pb: 18px;
    --video-text-pb: 15px;
    --video-media-h: 172px;
    --video-play-large-w: 50px;
    --video-play-large-t: 35%;
    --video-panel-h: 54px;
    --video-panel-p: 20px;
    --video-play-sm-mr: 26px;
    --video-slider-mt: 40px;
    // --video-slider-mt: 37px;
    --video-slider-pag-pt: 40px;
    --video-slider-item-h: 100px;
    --video-pag-w: 172px;
    --video-pag-item-size: 9px;
  }
}

.section-video {
  @media screen and (max-width: 768px) {
    margin-bottom: 40px;
  }

  @media screen and (max-width: 420px) {
    margin-bottom: 0;
  }
}

.video {
  &__text {
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--video-text-pb);
  }

  &-desc {
    width: 720px;
    font-family: var(--font-base);
    font-weight: 300;
    font-size: 22px;
    line-height: 47px;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  &__media {
    max-width: 1440px;
  }

  &__media.expanded {
    width: 100%;
    height: 100%;
  }
}

.video-current-wrapper {
  position: relative;
  width: 100%;
  height: var(--video-media-h);
}

.video-current {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--video-panel-h);
  padding: 0 var(--video-panel-p);
  background-color:var(--text-dark);

  @media screen and (max-width: 768px) {
    position: relative;
  }
}

.video__btn {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;

  &-play-large {
    position: absolute;
    top: var(--video-play-large-t);
    left: var(--video-play-large-l);
    z-index: 2;
    width: var(--video-play-large-w);
    height: var(--video-play-large-w);
    background-image: url('../svg/video-btn-play-big.svg');
    opacity: 1;
    transition: 0.7s ease;
  }

  &-play-large.hidden {
    opacity: 0;
  }

  &-play-small {
    width: 23px;
    height: 30px;
    margin-right: var(--video-play-sm-mr);
    background-image: url('../svg/video-btn-play-small.svg');
  }

  &-play-small.paused {
    background-image: url('../svg/video-btn-pause-small.svg');
  }

  &-volume {
    width: var(--video-volume-w);
    height: var(--video-volume-h);
    margin-left: var(--video-volume-ml);
    margin-right: var(--video-volume-mr);
    background-image: url('../svg/video-btn-volume.svg');
  }

  &-volume.muted {
    background-image: url('../svg/video-btn-volume-muted.svg');
  }

  &-expand {
    width: var(--video-expand-w);
    height: var(--video-expand-w);
    margin-left: var(--video-expand-ml);
    background-image: url('../svg/video-btn-expand.svg');
  }

  &-expand.exit {
    background-image: url('../svg/video-btn-expand-exit.svg');
  }

  &:hover {
    filter: invert(67%) sepia(0%) saturate(0%) hue-rotate(3deg) brightness(90%) contrast(92%);
    cursor: pointer;
    transition: var(--quick-transition);
  }
}

.video__range {
  height: 8px;
  background: linear-gradient(to right, #710707 0%, #710707 45%, #c4c4c4 45%, #c4c4c4 100%);
  outline: none;
  appearance: none;

  @media screen and (max-width: 1024px) {
    height: 5px;
  }

  @media screen and (max-width: 768px) {
    background: linear-gradient(to right, #710707 0%, #710707 40%, #c4c4c4 40%, #c4c4c4 100%);
  }

  &-progress {
    width: var(--video-range-progress-w);
    background: linear-gradient(to right, #710707 0%, #710707 54%, #c4c4c4 54%, #c4c4c4 100%);

    @media screen and (max-width: 768px) {
      position: absolute;
      bottom: var(--video-panel-h);
      left: 0;
      right: 0;
    }
  }

  &::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    background: #ffffff;

    @media screen and (max-width: 768px) {
      width: 13px;
      height: 13px;
    }
    @media screen and (max-width: 420px) {
      width: 10px;
      height: 10px;
    }
  }

  &-volume {
    width: var(--video-range-volume-w);
  }
}

.video__media.expanded {
  .media-panel {
    height: 7%;
  }

  .video-current-wrapper {
    height: 93%;
  }

  .video__btn {
    &-play-big {
      top: 43%;
    }
  }

  .video__range {
    &-progress {
      width: 90%;
    }

    &-volume {
      width: 10%;
    }
  }
}

.video-slider {
  display: flex;
  gap: 42px;
  // gap: 3%;
  height: var(--video-slider-item-h);
  margin-top: var(--video-slider-mt);

  @media screen and (max-width: 1024px) {
    // gap: 4%;
    gap: 41px;
  }

  @media screen and (max-width: 768px) {
    gap: 20px;
  }

  &-item {
    // width: 100%;
    flex: 1 1 33%;
    height: 100%;

    @media screen and (max-width: 768px) {
      flex: 1 1 45%;
      &:last-of-type {
        display: none;
      }
    }
  }

  &-item__wrapper {
    position: relative;
    max-width: 100%;
    height: 100%;
  }

  &-item__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.hidden {
      display: none;
      z-index: -1000;
    }
  }

  &-item__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  &-item__header {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    padding: var(--iframe-header-p);
    width: 100%;
    height: 65px;

    .image {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      background: url('../img/channel-icon.png') no-repeat;
      background-size: contain;
    }

    .title {
      width: 71%;
      font-family: var(--font-base);
      font-weight: 300;
      font-size: 18px;
      line-height: 38px;
      color: #ffffff;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      @media screen and (max-width: 768px) {
        width: 58%;
      }
    }

    .settings {
      width: 4px;
      height: 16px;
      margin-left: auto;
      background: url('../svg/iframe-set.svg') no-repeat;
      background-size: contain;
    }
  }

  &-item__button-play {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: none;
    padding: 0;
    width: 68px;
    height: 48px;
    border: none;
    background-color: transparent;
    transform: translate(-50%, -50%);
    cursor: pointer;

    &-shape {
      fill: #212121;
      fill-opacity: 0.8;
    }

    &-icon {
      fill: #ffffff;
    }

    &:focus {
      outline: none;
    }

    &.hidden {
      display: none;
      z-index: -1000;
    }
  }

  &-item:hover &-item__button-play-shape,
  &-item__button-play:focus &-item__button-play-shape {
    fill: #ff0000;
    fill-opacity: 1;
  }

  &-item--enabled {
    cursor: pointer;
  }

  &-item--enabled &-item__button-play {
    display: block;
  }
}

.video-pagination {
  display: flex;
  justify-content: space-between;
  width: var(--video-pag-w);
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--video-slider-pag-pt);

  &__item {
    width: var(--video-pag-item-size);
    height: var(--video-pag-item-size);
    background-size: contain;
    background-repeat: no-repeat;
    transition: var(--quick-transition);

    &.tns-nav-active, &.active {
      filter: invert(13%) sepia(94%) saturate(0%) hue-rotate(205deg) brightness(60%) contrast(88%);
    }
  }

  &__item:hover {
    cursor: pointer;
    filter: invert(14%) sepia(25%) saturate(6681%) hue-rotate(342deg) brightness(60%) contrast(114%);
  }

  &__arrow-prev {
    background-image: url('../svg/video-slider-prev.svg');
  }

  &__arrow-next {
    background-image: url('../svg/video-slider-next.svg');
  }
}

.video-nav {
  display: flex;
  justify-content: space-around;
  width: calc(100% - (var(--video-pag-item-size) * 2) - 20px);
  margin-left: auto;
  margin-right: auto;

  &__dot {
    background-image: url('../svg/video-slider-dot.svg');
    background-size: contain;
  }
}


