:root {
  --visiting-cards-pt: 102px;
  --visiting-cards-g: 78px 60px;
  --visiting-card-w: 440px;
  --visiting-card-h: 422px;
  --visiting-card-image-h: 285px;
  --visiting-card-title-fs: 32px;
  --visiting-card-title-lh: 35px;
  --visiting-card-title-pt: 25px;
  --visiting-card-title-ls: 5px;
  --visiting-card-subtitle-fs: 22px;
  --visiting-card-desc-fs: 18px;
  --visiting-card-desc-lh: 21.09px;
  --visiting-card-desc-pt: 11px;
}

@media screen and (max-width: 1024px) {
  :root {
    --visiting-cards-pt: 82px;
    --visiting-cards-g: 62px 0;
    --visiting-card-w: 330px;
    --visiting-card-h: 343px;
    --visiting-card-image-h: 215px;
    --visiting-card-title-fs: 28px;
    --visiting-card-title-lh: 31px;
    --visiting-card-title-pt: 21px;
    --visiting-card-title-ls: 5px;
    --visiting-card-subtitle-fs: 20px;
    --visiting-card-desc-fs: 16px;
    --visiting-card-desc-lh: 19px;
    --visiting-card-desc-pt: 8px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --visiting-cards-pt: 63px;
    --visiting-cards-g: 40px 0;
    --visiting-card-w: 280px;
    --visiting-card-h: 301px;
    --visiting-card-image-h: 180px;
    --visiting-card-title-fs: 22px;
    --visiting-card-title-lh: 24px;
    --visiting-card-title-ls: 3px;
    --visiting-card-subtitle-fs: 18px;
  }
}

@media screen and (max-width: 420px) {
  :root {
    --visiting-cards-g: 40px 0;
    --visiting-card-h: 295px;
    --visiting-card-title-fs: 18px;
    --visiting-card-title-lh: 20px;
    --visiting-card-title-ls: 5px;
    --visiting-card-subtitle-fs: 16px;
    --visiting-card-desc-pt: 11px;
  }
}

.visiting__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: var(--visiting-cards-g);
  padding-top: var(--visiting-cards-pt);

  @media screen and (max-width: 768px) {
    margin-bottom: 40px;
  }

  @media screen and (max-width: 420px) {
    margin-bottom: 0;
  }
}

.visiting-card-link {
  display: block;
  text-decoration: none;
  color: $text-dark;
}

.visiting-card {
  width: var(--visiting-card-w);
  height: var(--visiting-card-h);

  &__img {
    width: 100%;
    height: var(--visiting-card-image-h);
    background-size: contain;
  }

  &__title {
    padding-top: var(--visiting-card-title-pt);
    font-family: $font-heading;
    font-weight: 400;
    font-size: var(--visiting-card-title-fs);
    line-height: var(--visiting-card-title-lh);
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .strange-title {
    letter-spacing: 5px;

    @media screen and (max-width: 1024px) {
      letter-spacing: 3px;
    }

    @media screen and (max-width: 420px) {
      letter-spacing: 5px;
    }
  }

  &__title.spacing-lg {
    letter-spacing: var(--visiting-card-title-ls);
  }

  &__subtitle {
    padding-top: 20px;
    font-family: $font-base;
    font-weight: 200;
    font-size: var(--visiting-card-subtitle-fs);
    line-height: 25.78px;

    @media screen and (max-width: 768px) {
      padding-top: 26px;
      line-height: 19px;
    }

    @media screen and (max-width: 420px) {
      padding-top: 20px;
    }
  }

  &__desc {
    padding-top: var(--visiting-card-desc-pt);
    font-family: $font-base;
    font-weight: 200;
    font-size: var(--visiting-card-desc-fs);
    line-height: var(--visiting-card-desc-lh);
  }

  &:hover .underline-title::after {
    width: 100%;
  }
}
