:root {
  --welcome-container-height: 810px;
  --welcome-slider-width: 52vw;
  --welcome-slider-img-height: 750px;
  --welcome-slider-right: 0;
  --welcome-slider-controls-width: 60%;
  --welcome-slider-controls-height: 120px;
  --welcome-slider-controls-justify: space-between;
  --welcome-slider-controls-fs: 22px;
  --welcome-slider-pag-w: 39%;
  --welcome-slider-pag-p: 6% 7%;
  --welcome-slider-pag-size: 16px;
  --welcome-slider-pag-ml: 29px;
  --welcome-slider-pag-g: 0 25px;
  --welcome-text-pt: 150px;
  --welcome-title-lh: 90px;
  --welcome-subtitle-fs: 28px;
  --welcome-subtitle-lh: 33px;
  --welcome-btn-mt: 75px;
}

@media screen and (min-width: 1025px) and (max-width: 1900px) {
  :root {
    --welcome-slider-controls-width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --welcome-container-height: 585px;
    --welcome-slider-width: 70vw;
    --welcome-slider-img-height: 525px;
    --welcome-slider-right: 20px;
    --welcome-slider-controls-width: 100%;
    --welcome-slider-controls-justify: flex-end;
    --welcome-slider-controls-fs: 20px;
    --welcome-slider-pag-p: 7% 11%;
    --welcome-slider-pag-m: 0 8% 0 9%;
    --welcome-slider-pag-size: 12px;
    --welcome-slider-pag-g: 0 24px;
    --welcome-text-pt: 50px;
    --welcome-subtitle-fs: 24px;
    --welcome-subtitle-lh: 28px;
    --welcome-btn-mt: 50px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --welcome-container-height: auto;
    --welcome-slider-width: calc(100vw - 40px - var(--scrollbar-width));
    --welcome-slider-img-height: 546px;
    --welcome-slider-controls-justify: center;
    --welcome-slider-controls-width: calc(100vw - 40px);
    --welcome-slider-controls-height: 97px;
    --welcome-text-pt: 0;
    --welcome-slider-pag-m: 0 8%;
    --welcome-title-lh: 60px;
    --welcome-subtitle-fs: 20px;
    --welcome-subtitle-lh: 23px;
  }
}

@media screen and (max-width: 420px) {
  :root {
    // --welcome-container-height: 88vw;
    --welcome-slider-img-height: 285px;
    --welcome-slider-controls-height: 80px;
    --welcome-slider-pag-size: 7px;
    --welcome-slider-pag-g: 0 10px;
    --welcome-slider-controls-fs: 16px;
    --welcome-text-pt: 0;
    --welcome-title-lh: 40px;
    --welcome-subtitle-fs: 16px;
    --welcome-subtitle-lh: 19px;
  }
}

.section-welcome {
  &__container {
    max-width: 1920px;
    margin: 0 auto;
  }
}

.welcome {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: var(--welcome-container-height);

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  &__text {
    position: absolute;
    z-index: 6;
    width: 598px;
    padding-top: var(--welcome-text-pt);

    @media only screen and (max-width: 768px) {
      position: static;
      width: 100%;
      margin-bottom: 47px;
      text-align: center;
    }
  }

  h2 {
    line-height: var(--welcome-title-lh);
  }

  // &__slider {
  //   position: absolute;
  //   bottom: 0;
  //   right: var(--welcome-slider-right);
  //   z-index: 1;
  //   width: var(--welcome-slider-width);
  //   height: 100%;
  //   overflow: hidden;

  //   @media only screen and (max-width: 768px) {
  //     right: unset;
  //     height: calc(var(--welcome-slider-img-height) + var(--welcome-slider-controls-height));
  //     margin-left: auto;
  //     margin-right: auto;
  //   }
  // }
}

.welcome-slider-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: var(--welcome-slider-width);
  height: 100%;

  @media screen and (max-width: 1024px) {
    padding-right: 20px;
  }

  @media screen and (max-width: 768px) {
    position: static;
    padding-right: 0;
    height: 84vw;
  }

  @media screen and (max-width: 420px) {
    height: 88vw;
  }
}

.welcome-slider {
  position: relative;
  overflow: hidden;
  height: 100%;
  cursor: pointer;

  &__slides {
    position: absolute;
    left: 0;
    bottom: calc(var(--welcome-slider-controls-height) / 2);
    width: 100%;
    height: 100%;

    @media screen and (max-width: 768px) {
      bottom: 0;
    }
  }

  .slide {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #030303;

    @media screen and (max-width: 768px) {
      background-position: top;
    }

    &-1 {
      background-image: url('../img/welcome/1.webp');
    }
    &-2 {
      background-image: url('../img/welcome/2.webp');
    }
    &-3 {
      background-image: url('../img/welcome/3.webp');
    }
    &-4 {
      background-image: url('../img/welcome/4.webp');
    }
    &-5 {
      background-image: url('../img/welcome/5.webp');
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    pointer-events: none;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}

.welcome__text-subtitle {
  padding-top: 25px;
  font-family: $font-base;
  font-weight: 300;
  font-size: var(--welcome-subtitle-fs);
  line-height: var(--welcome-subtitle-lh);
  letter-spacing: 2px;
  color: $text-light;
}

.welcome__text-btn {
  margin-top: var(--welcome-btn-mt);

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.welcome-slider__controls {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: var(--welcome-slider-controls-justify);
  width: var(--welcome-slider-controls-width);
  height: var(--welcome-slider-controls-height);
  padding: var(--welcome-slider-pag-p);
  background-color: $bg-dark;

  @media screen and (max-width: 420px) {
    left: 0;
  }
}

.welcome-slider-counter {
  font-family: $font-base;
  font-weight: 400;
  font-size: var(--welcome-slider-controls-fs);
  line-height: 40px;
  text-transform: uppercase;
  color: $text-light;

  &-first {
    margin-right: 10px;

    @media screen and (max-width: 420px) {
      margin-right: 5px;
    }
  }

  &-current {
    margin-left: 10px;

    @media screen and (max-width: 420px) {
      margin-left: 5px;
    }
  }
}

.welcome-slider__pagination {
  display: flex;
  justify-content: space-between;
  gap: var(--welcome-slider-pag-g);
  margin: var(--welcome-slider-pag-m);

  @media screen and (max-width: 420px) {
    margin: 0 25px;
  }

  &-item {
    width: var(--welcome-slider-pag-size);
    height: var(--welcome-slider-pag-size);
    background-color: $text-light;

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        background-color: #9d8665;
      }
      cursor: pointer;
      transition: $link-transition;
    }

    &.active {
      background-color: $text-gold;
    }
  }
}

.welcome-slider__arrows {
  display: flex;

  & > button {
    width: 30px;
    height: 8px;
    border: none;
    outline: none;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;

    @media screen and (max-width: 420px) {
      width: 20px;
    }
  }

  & > button:hover {
    @media (hover: hover) and (pointer: fine) {
      filter: invert(58%) sepia(11%) saturate(983%) hue-rotate(356deg) brightness(91%) contrast(87%);
    }
    cursor: pointer;
    transition: $link-transition;
  }
}

.welcome-slider-prev {
  margin-right: 20px;
  background-image: url('../svg/welcome-arrow-left.svg');

  @media screen and (max-width: 420px) {
    margin-right: 15px;
  }
}

.welcome-slider-next {
  background-image: url('../svg/welcome-arrow-right.svg');
}
