:root {
  --welcome-container-height: 810px;
  --welcome-slider-width: 1000px;
  --welcome-slider-img-height: 750px;
  --welcome-slider-right: 0;
  --welcome-slider-controls-width: 60%;
  --welcome-slider-controls-height: 120px;
  --welcome-slider-controls-justify: space-between;
  --welcome-slider-controls-fs: 22px;
  --welcome-slider-pag-width: 16px;
  --welcome-slider-pag-height: 16px;
  --welcome-slider-pag-ml: 29px;
  --welcome-slider-pag-g: 0 25px;
  --welcome-text-pt: 150px;
  --welcome-subtitle-fs: 28px;
  --welcome-subtitle-lh: 33px;
  --welcome-btn-mt: 75px;
}

@media screen and (max-width: 1024px) {
  :root {
    --welcome-container-height: 585px;
    --welcome-slider-width: 700px;
    --welcome-slider-img-height: 525px;
    --welcome-slider-right: 20px;
    --welcome-slider-controls-width: 100%;
    --welcome-slider-controls-justify: flex-end;
    --welcome-slider-controls-fs: 20px;
    --welcome-slider-pag-width: 12px;
    --welcome-slider-pag-height: 12px;
    --welcome-slider-pag-g: 0 24px;
    --welcome-text-pt: 50px;
    --welcome-subtitle-fs: 24px;
    --welcome-subtitle-lh: 28px;
    --welcome-btn-mt: 50px;
  }
}

.section-welcome {
  &__container {
    max-width: 1920px;
    margin: 0 auto;
  }
}

.welcome {
  position: relative;
  height: var(--welcome-container-height);

  &__text {
    position: absolute;
    z-index: 2;
    width: 598px;
    padding-top: var(--welcome-text-pt);
  }

  h2 {
    line-height: 90px;
  }

  &__slider {
    position: absolute;
    top: 0;
    right: var(--welcome-slider-right);
    z-index: 1;
    width: var(--welcome-slider-width);
  }
}

.welcome-slider {
  overflow: hidden;

  &__slides {
    position: relative;
    top: 0;
    left: -100%;
    display: flex;
    width: calc(var(--welcome-slider-width) * 10);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    pointer-events: none;
    background: linear-gradient(
      90deg,
      #000000 0%,
      rgba(0, 0, 0, 0.5) 16.19%,
      rgba(0, 0, 0, 0) 30.73%
    );
  }

  &__slides.shifting {
    transition: left 0.2s ease-out;
  }

  .slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--welcome-slider-width);
    height: var(--welcome-slider-img-height);
    border-radius: 2px;
    cursor: pointer;
    transition: all 1s;
    z-index: 1;
    background-size: contain;
  }

  .slide {
    &-1 {
      background-image: url('../img/welcome/1.jpg');
    }
    &-2 {
      background-image: url('../img/welcome/2.jpg');
    }
    &-3 {
      background-image: url('../img/welcome/3.jpg');
    }
    &-4 {
      background-image: url('../img/welcome/4.jpg');
    }
    &-5 {
      background-image: url('../img/welcome/5.jpg');
    }
  }
}

.welcome__text-subtitle {
  padding-top: 25px;
  font-family: $font-base;
  font-weight: 300;
  font-size: var(--welcome-subtitle-fs);
  line-height: var(--welcome-subtitle-lh);
  letter-spacing: 2px;
  color: $text-light;
}

.welcome__text-btn {
  margin-top: var(--welcome-btn-mt);
}

.welcome-slider-controls {
  position: absolute;
  right: 0;
  bottom: calc(var(--welcome-slider-controls-height) / 2 * -1);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: var(--welcome-slider-controls-justify);
  width: var(--welcome-slider-controls-width);
  height: var(--welcome-slider-controls-height);
  padding: 40px 75px;
  background-color: $bg-dark;

  &__counter {
    font-family: $font-base;
    font-weight: 400;
    font-size: var(--welcome-slider-controls-fs);
    line-height: 40px;
    text-transform: uppercase;
    color: $text-light;
  }

  .welcome-slider-counter-first {
    margin-right: 10px;
  }

  .welcome-slider-counter-current {
    margin-left: 10px;
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
    gap: var(--welcome-slider-pag-g);
    margin: 0 45px;
  }

  .welcome-slider-pagination-item {
    width: var(--welcome-slider-pag-width);
    height: var(--welcome-slider-pag-height);
    background-color: $text-light;
  }

  .welcome-slider-pagination-item:hover {
    @media (hover: hover) and (pointer: fine) {
      background-color: #9d8665;
    }
    cursor: pointer;
    transition: $link-transition;
  }

  .welcome-slider-pagination-item.active {
    background-color: $text-gold;
  }

  &__arrows > button {
    width: 30px;
    height: 8px;
    border: none;
    outline: none;
    background-size: contain;
    background-color: transparent;
  }

  &__arrows > button:hover {
    @media (hover: hover) and (pointer: fine) {
      filter: invert(58%) sepia(11%) saturate(983%) hue-rotate(356deg)
        brightness(91%) contrast(87%);
    }
    cursor: pointer;
    transition: $link-transition;
  }

  &-prev {
    margin-right: 20px;
    background-image: url('../svg/welcome-arrow-left.svg');
  }

  &-next {
    background-image: url('../svg/welcome-arrow-right.svg');
  }
}
