@import url('https://fonts.googleapis.com/css2?family=Forum&family=Roboto:wght@100;300;500;700&display=swap');

//Fonts
$font-heading: 'Forum', cursive;
$font-base: 'Roboto', sans-serif;

//Colors
$bg-dark: #030303;
$text-light: #ffffff;
$text-dark: #000000;
$text-gold: #9d8665;
$dark-red: #710707;

// Transition 
$base-transition: .4s linear;
$quick-transition: .1s ease-in;
$link-transition: .2s linear;

$filter-gold: invert(52%) sepia(34%) saturate(342%) hue-rotate(356deg) brightness(96%) contrast(89%);