:root {
  --section-gallery-p: 75px 0 0 0;
  --gallery-height: 2033px;
  --gallery-mt: 75px;
  --grid-row-gap: 24px;
  --grid-col-gap: 36px;
  --grid-template-col: repeat(3, 1fr);
}

@media screen and (max-width: 1024px) {
  :root {
    --section-gallery-p: 60px 0 0 0;
    --gallery-height: 1325px;
    --gallery-mt: 62px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --section-gallery-p: 40px 0 0 0;
    --gallery-height: 1121px;
    --gallery-mt: 40px;
    --grid-col-gap: 24px;
  }
}

@media screen and (max-width: 420px) {
  :root {
    --gallery-height: 677px;
  }
}

.section-gallery {
  padding: var(--section-gallery-p);
}

.gallery {
  position: relative;
  height: var(--gallery-height);
  overflow-y: hidden;

  &-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-row-gap) var(--grid-col-gap);
    grid-auto-flow: dense;
    grid-auto-rows: 1fr;
    margin-top: var(--gallery-mt);
    overflow: hidden;

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-wrapper {
    position: relative;
    transition: 1s ease-in-out;
    transform: translateY(50px) scale(.8);
    opacity: 0;
  }

  &-wrapper.active {
    transform: scale(1);
    opacity: 1;
  }

  &-wrapper:nth-child(3n + 1) {
    grid-column-start: 1;
    top: calc(var(--grid-row-gap) * 2);

    @media (max-width: 768px) {
      top: 0;
    }
  }

  &-wrapper:nth-child(3n + 2) {
    grid-column-start: 2;
  }

  &-wrapper:nth-child(3n + 3) {
    grid-column-start: 3;
    top: calc(var(--grid-row-gap) * 2);

    @media (max-width: 768px) {
      top: 0;
    }
  }

  &-wrapper:nth-child(2n + 2) {
    transition-delay: 0.2s;
  }

  &-wrapper:nth-child(9) {
    grid-row-end: span 4;
  }

  &-wrapper:nth-child(10) {
    grid-row-end: span 2;
  }

  &-wrapper.long {
    grid-row-end: span 5;
  }

  &-wrapper.medium {
    grid-row-end: span 4;
  }

  &-wrapper.short {
    grid-row-end: span 3;
  }

  &-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }

  @media (max-width: 768px) {
    &-wrapper:nth-child(odd) {
      grid-column-start: 1;
      top: calc(var(--grid-row-gap) * 2);
    }

    &-wrapper:nth-child(2n + 2) {
      grid-column-start: 2;
      transition-delay: 0.2s;
    }
  }
}
