:root {
  --tickets-pt: 103px;
  --tickets-g: 60px;
  --tickets-img-w: 720px;
  --tickets-img-h: 550px;
  --tickets-amount-w: 175px;
  --tickets-amount-ai: flex-end;
  --tickets-amount-subtitle-ta: right;
  --tickets-amount-option-w: 150px;
  --tickets-amount-option-mt: 25px;
  --tickets-amount-option-2n-mt: 13px;
  --tickets-amount-box-mt: 14px;
  --tickets-amount-option-btn-w: 30px;
  --tickets-amount-option-btn-pr: 10px;
  --tickets-amount-option-btn-1-pl: 5px;
  --tickets-amount-option-btn-fs: 32px;
  --tickets-title-mt: 54px;
  --tickets-subtitle-fs: 28px;
  --tickets-subtitle-lh: 33px;
  --tickets-amount-option-label-fs: 22px;
  --tickets-amount-option-label-lh: 26px;
}

@media screen and (max-width: 1024px) {
  :root {
    --tickets-pt: 80px;
    --tickets-g: 80px;
    --tickets-img-w: 700px;
    --tickets-img-h: 440px;
    --tickets-amount-ai: center;
    --tickets-amount-subtitle-ta: left;
    --tickets-amount-option-w: 100%;
    --tickets-amount-option-mt: 30px;
    --tickets-amount-option-2n-mt: 29px;
    --tickets-amount-box-mt: 10px;
    --tickets-title-mt: 25px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --tickets-pt: 63px;
    --tickets-g: 60px;
    --tickets-img-w: 444px;
    --tickets-img-h: 340px;
    --tickets-amount-option-mt: 39px;
    --tickets-amount-option-2n-mt: 25px;
    --tickets-amount-option-btn-w: 36px;
    --tickets-amount-option-btn-pr: 17px;
    --tickets-amount-option-btn-1-pl: 9px;
    --tickets-amount-option-btn-fs: 36px;
    --tickets-title-mt: 18px;
  }
}

@media screen and (max-width: 420px) {
  :root {
    --tickets-img-w: 0;
    --tickets-img-h: 160px;
    --tickets-amount-option-mt: 20px;
    --tickets-amount-option-2n-mt: 20px;
    --tickets-amount-subtitle-ta: center;
    --tickets-amount-box-mt: 14px;
    --tickets-subtitle-fs: 16px;
    --tickets-subtitle-lh: 19px;
    --tickets-amount-option-label-fs: 16px;
    --tickets-amount-option-label-lh: 19px;
    --tickets-title-mt: 25px;
  }
}

.tickets {
  display: flex;
  gap: 0 var(--tickets-g);
  padding-top: var(--tickets-pt);

  @media screen and (max-width: 420px) {
    flex-direction: column;
  }

  &__img {
    flex-basis: var(--tickets-img-w);
    height: var(--tickets-img-h);
  }

  &__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    // align-content: flex-start;
    flex-basis: calc(100% - var(--tickets-img-w) - var(--tickets-g));
    flex-wrap: wrap;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }

    @media screen and (max-width: 420px) {
      flex-basis: 100%;
      align-content: center;
      margin-top: 40px;
    }
  }

  &-subtitle {
    font-family: var(--font-base);
    font-weight: 700;
    font-size: var(--tickets-subtitle-fs);
    line-height: var(--tickets-subtitle-lh);
    color: var(--text-dark);
  }
}

.tickets-type {
  flex: 0 0 calc(100% - var(--tickets-amount-w));

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.tickets-type-option {
  display: block;
  position: relative;
  margin-top: 25px;
  padding-left: 40px;
  font-family: var(--font-base);
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: var(--text-dark);
  cursor: pointer;
  user-select: none;

  &:first-of-type {
    margin-top: 50px;
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &__checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid var(--text-dark);
  }

  &__checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  & &__input:checked ~ &__checkmark:after {
    display: block;
  }

  & &__checkmark:after {
    top: 2.8px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--text-dark);
  }
}

.tickets-amount {
  flex: 1 1 var(--tickets-amount-w);

  & .tickets-subtitle {
    text-align: var(--tickets-amount-subtitle-ta);
  }
}

.tickets-amount-option {
  margin-top: var(--tickets-amount-option-mt);

  &__label {
    font-family: var(--font-base);
    font-weight: 300;
    font-size: var(--tickets-amount-option-label-fs);
    line-height: var(--tickets-amount-option-label-lh);
    color: var(--text-dark);
  }

  &__box {
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: var(--tickets-amount-box-mt);
    font-family: var(--font-base);
    text-align: center;
    border: 3px solid var(--text-dark);
  }

  &__btn {
    width: var(--tickets-amount-option-btn-w);
    padding-bottom: 10px;
    padding-right: var(--tickets-amount-option-btn-pr);
    font-weight: 300;
    font-size: 32px;
    line-height: 37.5px;
    border: none;
    color: var(--text-dark);
    background-color: transparent;
  }

  &__btn:first-of-type {
    padding-right: 0;
    padding-left: var(--tickets-amount-option-btn-1-pl);
  }

  &__btn:last-of-type {
    padding-top: 5px;
  }

  &__btn:hover {
    color: var(--text-gold);
    transition: var(--quick-transition);
    cursor: pointer;
  }

  &__input {
    width: calc(100% - 60px);
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    border: none;
    color: var(--text-dark);
    background-color: transparent;
  }

  &:nth-of-type(2n) {
    margin-top: var(--tickets-amount-option-2n-mt);
  }
}

.total-title {
  letter-spacing: 1.6px;
  margin-top: var(--tickets-title-mt);

  @media screen and (max-width: 1024px) {
    span {
      margin-left: 17px;
    }
  }

  @media screen and (max-width: 420px) {
    display: flex;
    justify-content: center;
    letter-spacing: 0;

    span {
      margin-left: 0;
    }
  }
}

.tickets-total {
  margin-left: auto;
  align-self: flex-end;
  margin-top: var(--tickets-title-mt);
}
