.contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 103px;

  &__map {
    width: 960px;
    height: 620px;
  }
  
  &__map img {
    object-fit: cover;
  }

  &__text {
    padding-top: 10px;
  }

  &__subtitle {
    margin-bottom: 36px;
    font-family: $font-base;
    font-weight: 500;
    font-size: 28px;
    line-height: 32.8px;
  }

  &__info {
    font-family: $font-base;
    font-weight: 300;
    font-size: 22px;
    line-height: 25.78px;
  }

  &__info + &__info {
    margin-top: 20px;
  }
}
