$gallery-height: 2030px;
$grid-gap: 24px;

.gallery {
  height: $gallery-height;
  overflow-y: hidden;

  &-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 $grid-gap;
    grid-auto-flow: dense;
    grid-auto-rows: 1fr;
    height: 2850px;
    margin-top: 75px;
    overflow: hidden;
  }

  &-picture {
    position: relative;
    transition: 1s ease-in-out;
    transform: translateY(50px);
    opacity: 0;
  }

  &-picture.active {
    transform: none;
    opacity: 1;
  }

  &-picture:nth-child(3n + 1) {
    grid-column-start: 1;
    top: $grid-gap;
  }
  &-picture:nth-child(2n + 2) {
    transition-delay: .2s;
  }

  &-picture:nth-child(3n + 2) {
    grid-column-start: 2;
  }

  &-picture:nth-child(3n + 3) {
    grid-column-start: 3;
    top: calc( #{$grid-gap} * 2);
  }

  &-picture:nth-child(9) {
    grid-row-end: span 4;
  }

  &-picture:nth-child(10) {
    grid-row-end: span 2;
  }

  &-picture.long {
    grid-row-end: span 5;
  }

  &-picture.medium {
    grid-row-end: span 4;
  }

  &-picture.short {
    grid-row-end: span 3;
  }
}
