$gallery-height: 2037px;
$grid-row-gap: 24px;
$grid-col-gap: 36px;

.section-gallery {
  padding: 75px 0 0 0;
}

.gallery {
  position: relative;
  height: $gallery-height;
  overflow-y: hidden;

  &-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $grid-row-gap $grid-col-gap;
    grid-auto-flow: dense;
    height: 2850px;
    margin-top: 75px;
    overflow: hidden;
  }

  &-picture {
    position: relative;
    transition: 1s ease-in-out;
    transform: translateY(50px);
    opacity: 0;
  }

  &-picture.active {
    transform: none;
    opacity: 1;
  }

  &-picture:nth-child(3n + 1) {
    grid-column-start: 1;
    top: calc(#{$grid-row-gap} * 2);
  }

  &-picture:nth-child(3n + 2) {
    grid-column-start: 2;
  }

  &-picture:nth-child(3n + 3) {
    grid-column-start: 3;
    top: $grid-row-gap;
  }

  &-picture:nth-child(2n + 2) {
    transition-delay: 0.2s;
  }

  &-picture:nth-child(9) {
    grid-row-end: span 4;
  }

  &-picture:nth-child(10) {
    grid-row-end: span 2;
  }

  &-picture.long {
    grid-row-end: span 5;
  }

  &-picture.medium {
    grid-row-end: span 4;
  }

  &-picture.short {
    grid-row-end: span 3;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }
}
