$video-main-height: 650px;

.section-video {
  padding: 75px 0;
}

.video {
  &__text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
  }
  &-desc {
    width: 720px;
    font-family: $font-base;
    font-weight: 300;
    font-size: 22px;
    line-height: 43px;
  }
}

.video-current-wrapper {
  position: relative;
  width: 1440px;
  height: $video-main-height;
}

.video-current {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media-panel {
  display: flex;
  align-items: center;
  height: 85px;
  padding-left: 41px;
  padding-right: 24px;
  background-color: $text-dark;
}

.video__btn {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;

  &-play-big {
    position: absolute;
    top: 35%;
    left: 45%;
    z-index: 2;
    width: 220px;
    height: 220px;
    background: url('../svg/video-btn-play-big.svg');
    opacity: 1;
    transition: .7s ease;
  }

  &-play-big.hidden {
    opacity: 0;
  }

  &-play-small {
    width: 23px;
    height: 30px;
    margin-right: 41px;
    background-image: url('../svg/video-btn-play-small.svg');
  }

  &-play-small.paused {
    background-image: url('../svg/video-btn-pause-small.svg');
  }

  &-volume {
    width: 38px;
    height: 30px;
    margin-right: 20px;
    background-image: url('../svg/video-btn-volume.svg');
  }

  &-volume.muted {background-image: url('../svg/video-btn-volume-muted.svg');}

  &-expand {
    width: 36px;
    height: 36px;
    background-image: url('../svg/video-btn-expand.svg');
  }

  &:hover {
    filter: invert(67%) sepia(0%) saturate(0%) hue-rotate(3deg) brightness(90%)
      contrast(92%);
    cursor: pointer;
    transition: $quick-transition;
  }
}

.video__range {
  background: linear-gradient(
    to right,
    #710707 0%,
    #710707 40%,
    #c4c4c4 40%,
    #c4c4c4 100%
  );
  border-radius: 8px;
  height: 7px;
  outline: none;
  -webkit-appearance: none;
  &::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #ffffff;
  }

  &-progress {
    width: 930px;
    margin-right: 41px;
    background: linear-gradient(
      to right,
      #710707 0%,
      #710707 47%,
      #c4c4c4 47%,
      #c4c4c4 100%
    );
  }
  &-volume {
    width: 155px;
    margin-right: 48px;
  }
}
