$video-media-width: 1440px;
$video-media-height: 735px;
$video-slider-width: 452px;
$video-slider-height: 254px;


.video {
  &__text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
  }

  &-desc {
    width: 720px;
    font-family: $font-base;
    font-weight: 300;
    font-size: 22px;
    line-height: 47px;
  }

  &__media {
    width: $video-media-width;
    height: $video-media-height;
  }

  &__media.expanded {
    width: 100%;
    height: 100%;
  }

  &__slider {
    padding-top: 40px;
  }
}

.video-current-wrapper {
  position: relative;
  width: 100%;
  height: 88%;
}

.video-current {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media-panel {
  display: flex;
  align-items: center;
  height: 12%;
  padding-left: 30px;
  padding-right: 24px;
  background-color: $text-dark;
}

.video__btn {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;

  &-play-big {
    position: absolute;
    top: 33%;
    left: 42%;
    z-index: 2;
    width: 220px;
    height: 220px;
    background: url('../svg/video-btn-play-big.svg');
    opacity: 1;
    transition: 0.7s ease;
  }

  &-play-big.hidden {
    opacity: 0;
  }

  &-play-small {
    width: 23px;
    height: 30px;
    margin-right: 50px;
    background-image: url('../svg/video-btn-play-small.svg');
  }

  &-play-small.paused {
    background-image: url('../svg/video-btn-pause-small.svg');
  }

  &-volume {
    width: 38px;
    height: 30px;
    margin-right: 50px;
    background-image: url('../svg/video-btn-volume.svg');
  }

  &-volume.muted {
    background-image: url('../svg/video-btn-volume-muted.svg');
  }

  &-expand {
    width: 36px;
    height: 36px;
    background-image: url('../svg/video-btn-expand.svg');
  }

  &-expand.exit {
    background-image: url('../svg/video-btn-expand-exit.svg');
  }

  &:hover {
    filter: invert(67%) sepia(0%) saturate(0%) hue-rotate(3deg) brightness(90%)
      contrast(92%);
    cursor: pointer;
    transition: $quick-transition;
  }
}

.video__range {
  background: linear-gradient(
    to right,
    #710707 0%,
    #710707 45%,
    #c4c4c4 45%,
    #c4c4c4 100%
  );
  border-radius: 8px;
  height: 7px;
  outline: none;
  appearance: none;

  &-progress {
    width: 930px;
    margin-right: 50px;
    background: linear-gradient(
      to right,
      #710707 0%,
      #710707 54%,
      #c4c4c4 54%,
      #c4c4c4 100%
    );
  }

  &::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    background: #ffffff;
  }

  &-volume {
    width: 155px;
    margin-right: 50px;
  }
}

.video__media.expanded {
  .media-panel {
    height: 7%;
  }

  .video-current-wrapper {
    height: 93%;
  }

  .video__btn {
    &-play-big {
      top: 43%;
    }
  }

  .video__range {
    &-progress {
      width: 90%;
    }

    &-volume {
      width: 10%;
    }
  }
}

.video-slider {
  display: flex;
  justify-content: space-between;

  &-item {
    width: $video-slider-width;
    height: $video-slider-height;
    background-color: $text-gold;
  }

  &-pagination {
    display: flex;
    justify-content: space-between;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
  }

  &-pagination-item {
    width: 12px;
    height: 12px;
    background-size: contain;
    transition: $quick-transition;
  }

  &-pagination-item:hover {
    cursor: pointer;
    filter: invert(14%) sepia(25%) saturate(6681%) hue-rotate(342deg) brightness(60%) contrast(114%);
  }

  &-pagination-dot {
    background: url('../svg/video-slider-dot.svg') no-repeat;
  }

  &-pagination-dot.active {
    filter: invert(13%) sepia(94%) saturate(0%) hue-rotate(205deg) brightness(60%) contrast(88%);
  }

  &-pagination-arrow-prev {
    background: url('../svg/video-slider-prev.svg') no-repeat;
  }

  &-pagination-arrow-next {
    background: url('../svg/video-slider-next.svg') no-repeat;
  }
}
