.btn-sm {
  width: 175px;
  height: 50px;
  font-family: $font-base;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  color: $text-light;
  background: $text-dark;
  border-radius: 2px;
  border: none;

  &:hover {
    background-color: $text-gold;
    transition: $base-transition;
    cursor: pointer;
  }

  @media screen and (max-width: 420px) {
    font-size: 16px;
  }
}