$logo-font-size: 28px;

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 195px;
  height: 50px;
  z-index: 100;
  text-decoration: none;

  &__img {
    width: 50px;
    height: 34px;
    background: url('../svg/logo.svg') no-repeat;
    background-size: contain;
  }

  &__text {
    font-size: $logo-font-size;
    font-weight: 400;
    font-family: $font-heading;
    line-height: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: $text-light;
  }

  &:hover {
    filter: invert(55%) sepia(8%) saturate(1451%) hue-rotate(356deg)
      brightness(96%) contrast(81%);
    cursor: pointer;
    transition: $link-transition;
  }
}
