$nav-font-size: 22px;

:root {
  --container-p: 0;
  --section-p: 75px 0;
  --section-title-fs: 80px;
  --section-title-lh: 90px;
  --underline-title-full-b: -28px;
  --underline-title-w: 300px;
  --underline-title-b: -11px;
}

@media screen and (max-width: 1024px) {
  :root {
    --container-p: 0 20px;
    --section-p: 61px 0;
    --section-title-fs: 50px;
    --section-title-lh: 75px;
    --underline-title-full-b: -22px;
    --underline-title-w: 150px;
    --underline-title-b: -13px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --section-p: 40px 0;
    --section-title-fs: 40px;
    --section-title-lh: 60px;
  }
}

@media screen and (max-width: 420px) {
  :root {
    --section-title-fs: 28px;
    --section-title-lh: 40px;
    --underline-title-b: -10px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: var(--container-p);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section {
  padding: var(--section-p);
}

.section-dark {
  background-color: $bg-dark;
}

.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    line-height: 50px;
    letter-spacing: 2px;
  }

  &__link {
    font-size: $nav-font-size;
    font-family: $font-base;
    font-weight: 200;
    color: $text-light;
    text-decoration: none;
  }

  &__link:hover {
    color: $text-gold;
    transition: $link-transition;
  }
}

.section-title {
  font-family: $font-heading;
  font-weight: 400;
  font-size: var(--section-title-fs);
  line-height: var(--section-title-lh);
  letter-spacing: 5px;
  text-transform: uppercase;
  color: $text-gold;
}

.section-title--light {
  color: $text-light;
}

.underline-title {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: var(--underline-title-b);
    left: 0;
    width: var(--underline-title-w);
    height: 2px;
    background-color: $dark-red;
    transition: $base-transition;
  }
}

.underline-title--full {
  position: relative;

  &::after {
    bottom: var(--underline-title-full-b);
    right: 0;
    width: auto;
    height: 3px;
  }
}

.tour-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ripple {
  position: relative;
  overflow: hidden;
}

.circle {
  position: absolute;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
